body {
    font-family: Work Sans, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
.logo-txt,
.wp-block-latest-comments__comment-author,
.wp-block-latest-comments__comment-link {
    font-family: Crimson Text, serif;
}

.practice-image-wrap-v2 h3 a {
    color: #ffffff;
}