.elementor-1840 .elementor-element.elementor-element-5b5ef93:not(.elementor-motion-effects-element-type-background),
.elementor-1840 .elementor-element.elementor-element-5b5ef93>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #a8a8a8;
}

.elementor-1840 .elementor-element.elementor-element-5b5ef93 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 100px;
    padding: 240px 0px 0px 0px;
}

.elementor-1840 .elementor-element.elementor-element-5b5ef93>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1840 .elementor-element.elementor-element-f07c9da .elementor-heading-title {
    color: #000;
}

.elementor-1840 .elementor-element.elementor-element-f07c9da>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-1840 .elementor-element.elementor-element-80b13b9 {
    color: #000;
}

.elementor-1840 .elementor-element.elementor-element-80b13b9>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-1840 .elementor-element.elementor-element-51445c2 {
    --icon-box-icon-margin: 15px;
}

.elementor-1840 .elementor-element.elementor-element-51445c2 .elementor-icon {
    font-size: 15px;
}

.elementor-1840 .elementor-element.elementor-element-51445c2 .elementor-icon-box-description {
    color: #000;
}

.elementor-1840 .elementor-element.elementor-element-dda303f {
    --icon-box-icon-margin: 15px;
}

.elementor-1840 .elementor-element.elementor-element-dda303f .elementor-icon {
    font-size: 15px;
}

.elementor-1840 .elementor-element.elementor-element-dda303f .elementor-icon-box-description {
    color: #000;
}

.elementor-1840 .elementor-element.elementor-element-5eb4907 {
    --icon-box-icon-margin: 15px;
}

.elementor-1840 .elementor-element.elementor-element-5eb4907 .elementor-icon {
    font-size: 15px;
}

.elementor-1840 .elementor-element.elementor-element-5eb4907 .elementor-icon-box-description {
    color: #000;
}

.elementor-1840 .elementor-element.elementor-element-5290f77 {
    --icon-box-icon-margin: 15px;
}

.elementor-1840 .elementor-element.elementor-element-5290f77 .elementor-icon {
    font-size: 15px;
}

.elementor-1840 .elementor-element.elementor-element-5290f77 .elementor-icon-box-description {
    color: #000;
}

.elementor-1840 .elementor-element.elementor-element-e2cc264>.elementor-element-populated {
    padding: 0px 0px 0px 0px;
}

.elementor-1840 .elementor-element.elementor-element-ab25c6b {
    margin-top: 0px;
    margin-bottom: 90px;
}

.elementor-1840 .elementor-element.elementor-element-74d8880>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-1840 .elementor-element.elementor-element-85775e5>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-1840 .elementor-element.elementor-element-624ed9f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1840 .elementor-element.elementor-element-624ed9f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #DCB16114;
}

.elementor-1840 .elementor-element.elementor-element-624ed9f>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0px 0px 0px 60px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 60px;
    padding: 30px 30px 0px 30px;
}

.elementor-1840 .elementor-element.elementor-element-624ed9f>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1840 .elementor-element.elementor-element-6054446>.elementor-element-populated {
    margin: 0px 60px 0px 0px;
    --e-column-margin-right: 60px;
    --e-column-margin-left: 0px;
}

.elementor-1840 .elementor-element.elementor-element-dd6a2b6 {
    margin-top: 0px;
    margin-bottom: 90px;
}

.elementor-1840 .elementor-element.elementor-element-eabc4b2>.elementor-element-populated {
    margin: 0px 60px 0px 0px;
    --e-column-margin-right: 60px;
    --e-column-margin-left: 0px;
}

.elementor-1840 .elementor-element.elementor-element-f0cc812 {
    margin-top: 0px;
    margin-bottom: 90px;
}

.elementor-1840 .elementor-element.elementor-element-ce27ca7 {
    margin-top: 0px;
    margin-bottom: 90px;
}

.elementor-1840 .elementor-element.elementor-element-e7482aa>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-1840 .elementor-element.elementor-element-4bf41b6>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-1840 .elementor-element.elementor-element-b0e8d97>.elementor-element-populated {
    margin: 0px 0px 0px 60px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 60px;
}

.elementor-1840 .elementor-element.elementor-element-0005866 iframe {
    height: 600px;
}

:root {
    --page-title-display: none;
}

@media(min-width:768px) {
    .elementor-1840 .elementor-element.elementor-element-5e8a0b4 {
        width: 60%;
    }
    .elementor-1840 .elementor-element.elementor-element-e2cc264 {
        width: 40%;
    }
    .elementor-1840 .elementor-element.elementor-element-72952a5 {
        width: 60%;
    }
    .elementor-1840 .elementor-element.elementor-element-624ed9f {
        width: 40%;
    }
}

@media(max-width:1024px) {
    .elementor-1840 .elementor-element.elementor-element-5b5ef93 {
        padding: 200px 0px 50px 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-624ed9f>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-6054446>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-eabc4b2>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-170dcde>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-b0e8d97>.elementor-element-populated {
        margin: 0px 0px 0px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}

@media(max-width:767px) {
    .elementor-1840 .elementor-element.elementor-element-5b5ef93 {
        margin-top: 0px;
        margin-bottom: 50px;
        padding: 100px 0px 0px 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-5e8a0b4>.elementor-element-populated {
        margin: 0px 0px 15px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-51445c2 .elementor-icon-box-wrapper {
        text-align: left;
    }
    .elementor-1840 .elementor-element.elementor-element-dda303f .elementor-icon-box-wrapper {
        text-align: left;
    }
    .elementor-1840 .elementor-element.elementor-element-5eb4907 .elementor-icon-box-wrapper {
        text-align: left;
    }
    .elementor-1840 .elementor-element.elementor-element-5290f77 .elementor-icon-box-wrapper {
        text-align: left;
    }
    .elementor-1840 .elementor-element.elementor-element-ab25c6b {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-1840 .elementor-element.elementor-element-72952a5>.elementor-element-populated {
        margin: 0px 0px 50px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-624ed9f>.elementor-element-populated {
        padding: 30px 15px 0px 15px;
    }
    .elementor-1840 .elementor-element.elementor-element-33d4bf5>.elementor-element-populated {
        margin: 0px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-dd6a2b6 {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-1840 .elementor-element.elementor-element-26178a7>.elementor-element-populated {
        margin: 0px 0px 10px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-f0cc812 {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-1840 .elementor-element.elementor-element-ce27ca7 {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .elementor-1840 .elementor-element.elementor-element-6fcf124>.elementor-element-populated {
        margin: 0px 0px 40px 0px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
    .elementor-1840 .elementor-element.elementor-element-0005866 iframe {
        height: 400px;
    }
}